@@include('header.html')

<article class="vh-100 dt w-100 bg-black">
  <div class="dtc v-mid tc white ph3 ph4-l">
    <h1 class="f6 f2-m f-subheadline-l fw6 tc">Starter</h1>
    <p class="f6 f2-m f1-l tc">gulp + webpack + barbajs + tachyons</p>
  </div>
</article>

@@include('footer.html')