@media all and (min-width: 768px) and (max-width: 1024px) { 


}

@media all and (min-width: 480px) and (max-width: 768px) { 
    

}

@media all and (max-width: 480px) {


 }

 @media all and (min-width: 1024px) { 


 }